{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Inventario</title>
    <meta name="description" content="Inventario" />
    <meta name="keywords" content="Inventario" />
    <script>
      if (!localStorage.getItem("token")) {
        window.location.href = "/login";
      }
    </script>

    <link rel="shortcut icon"
      href="{% static 'favicon.ico' %}"
      type="image/png" />
    <link rel="stylesheet"
      crossorigin
      href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" />

    <style>
      body {
        height: 100dvh;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      .sidebar {
        width: 280px;
        overflow: auto;
      }
      .content {
        flex: 1;
        overflow: auto;
        padding: 10px 15px;
      }
      .input-helper {
        display: block;
      }
    </style>
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar">
      <a href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Sistema Inventario</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="/clientes/" class="nav-link text-white">Clientes</a>
        </li>
        <li>
          <a href="/productos/" class="nav-link text-white">Productos</a>
        </li>
        <li>
          <a href="/categorias/" class="nav-link text-white">Categorías</a>
        </li>
        <li>
          <a href="/inventario/" class="nav-link text-white">Inventario</a>
        </li>
      </ul>
      <hr />
      <div class="dropdown">
        <a href="#"
          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <strong class="username"></strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow"
          aria-labelledby="dropdownUser1">
          <li>
            <a class="dropdown-item" href="#" onclick="logout()">
              Cerrar sesión
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="msg"></div>
      {% block content %}

      {% endblock %}

      <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form id="form-guardar">
              <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close">

                </button>
              </div>
              <div class="modal-body">
                {% block modal %}

                {% endblock %}
              </div>
              <div class="modal-footer">
                <button type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal">
                  Cerrar
                </button>
                <button type="button"
                  class="btn btn-primary"
                  onclick="saveData()">
                  Guardar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- prettier-ignore -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
      function logout() {
        localStorage.removeItem("token");
        localStorage.removeItem("refresh");
        window.location.href = "/login/";
      }
      function setUsername() {
        document.querySelector(".username").innerHTML =
          localStorage.getItem("username");
      }

      function setActive() {
        const pathname = window.location.pathname;
        const element = document.querySelector(`a[href="${pathname}"]`);
        if (element) {
          element.classList.add("active");
        }
      }

      /**
       * @param {string} path
       * @param {string} method
       *
       * */
      async function fetchData(path, method = "GET", data = {}) {
        const baseUrl = "/api/v1/";
        const url = baseUrl + path;

        const config = {
          method: method,
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        };
        if (method === "POST" || method === "PUT") {
          config.body = JSON.stringify(data);
        }

        const response = await fetch(url, config);
        if (response.status === 401) {
          if (path === "token/refresh/") {
            return logout();
          }
          await refreshToken();
          return await fetchData(path, method, data);
        }
        let result;
        try {
          if (method === "DELETE" && response.status === 204) {
            result = await { ok: true };
          } else {
            result = await response.json();
          }
        } catch (error) {
          alert("Ocurrió un error inesperado");
          return;
        }
        if (response.status === 400) {
          for (const [key, value] of Object.entries(result)) {
            try {
              document.getElementById(key + "-helper").innerHTML = value[0];
            } catch (error) {
              console.error("No existe el elemento con id " + key + "-helper");
            }
          }
        }
        return result;
      }

      async function refreshToken() {
        const refresh = localStorage.getItem("refresh");
        const data = await fetchData("token/refresh/", "POST", {
          refresh: refresh,
        });
        localStorage.setItem("token", data.access);
      }

      function resetMessages() {
        document.querySelector(".msg").innerHTML = "";
        for (const element of document.querySelectorAll(".input-helper")) {
          element.innerHTML = "";
        }
      }

      function closeModal() {
        document.querySelector("[data-bs-dismiss='modal']").click();
      }
      document.addEventListener("DOMContentLoaded", function () {
        setActive();
        setUsername();
      });
    </script>
    {% block scripts %}

    {% endblock %}
  </body>
</html>
