{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="section">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Categorías</h5>
      </div>

      <div class="card-body">
        <div>
          <a href="#"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modal"
            onclick="handleModal(true)">
            Crear categoria
          </a>
        </div>
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}

{% block modal %}
  <input type="hidden" name="id" id="id" />
  <div class="form-outline mb-4">
    <label class="form-label" for="nombre">Nombre</label>
    <input type="text"
      id="nombre"
      name="nombre"
      class="form-control form-control-lg" />
    <span id="nombre-helper" class="input-helper"></span>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    async function loadData() {
      const data = await fetchData("productos/categorias/");
      const tbody = document.querySelector("tbody");
      tbody.innerHTML = "";
      for (const object of data) {
        const row = document.createElement("tr");
        insertData(row, object.id);
        insertData(row, object.nombre);
        row.appendChild(actionButtons(object.id));
        tbody.appendChild(row);
      }
    }

    function actionButtons(id) {
      const editButton = document.createElement("button");
      editButton.innerHTML = "Editar";
      editButton.classList.add("btn", "btn-primary");
      editButton.setAttribute("type", "button");
      editButton.setAttribute("data-bs-toggle", "modal");
      editButton.setAttribute("data-bs-target", "#modal");
      editButton.onclick = () => handleModal(false, id);
      const deleteButton = document.createElement("button");
      deleteButton.innerHTML = "Eliminar";
      deleteButton.classList.add("btn", "btn-danger");
      deleteButton.setAttribute("type", "button");
      deleteButton.setAttribute("onclick", `deleteData(${id})`);
      const buttons = document.createElement("td");
      buttons.appendChild(editButton);
      buttons.appendChild(deleteButton);
      return buttons;
    }

    /**
     *  @param {HTMLTableRowElement} row
     * @param {string} value
     */
    function insertData(row, value) {
      const cell = document.createElement("td");
      cell.innerHTML = value;
      row.appendChild(cell);
    }

    /** @param {boolean} isNew
     * @param {string} id
     */
    async function handleModal(isNew, id = null) {
      resetMessages();
      document.querySelector("#form-guardar").reset();
      document.getElementById("id").value = id;
      const tituloElement = document.querySelector(".modal-title");
      if (isNew) {
        tituloElement.innerHTML = "Crear categoria";
      } else {
        tituloElement.innerHTML = "Editar categoria";
        const data = await fetchData(`productos/categorias/${id}/`);
        document.querySelector("#id").value = data.id;
        document.querySelector("#nombre").value = data.nombre;
      }
    }

    async function saveData() {
      resetMessages();
      const form = document.querySelector("#form-guardar");
      const data = new FormData(form);
      const json = Object.fromEntries(data.entries());
      let response;
      console.log(json);
      if (json.id) {
        response = await fetchData(
          `productos/categorias/${json.id}/`,
          "PUT",
          json
        );
      } else {
        response = await fetchData("productos/categorias/", "POST", json);
      }

      if (response.id) {
        document.querySelector(".msg").innerHTML =
          "Categoría guardado correctamente";
        closeModal();
        loadData();
        setTimeout(() => {
          resetMessages();
        }, 3000);
        return;
      }
    }

    /** @param {string} id */
    async function deleteData(id) {
      if (confirm("¿Está seguro de eliminar este categoría?")) {
        const data = await fetchData(`productos/categorias/${id}/`, "DELETE");
        if (data.ok) {
          document.querySelector(".msg").innerHTML =
            "Categoría eliminado correctamente";
          setTimeout(() => {
            resetMessages();
          }, 3000);
          loadData();
        }
      }
    }
    document.addEventListener("DOMContentLoaded", async function () {
      await loadData();
    });
  </script>
{% endblock %}
