{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'libs/BVSelect/bvselect.css' %}" />
{% endblock %}
{% block content %}
  <section class="section">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Inventario</h5>
      </div>

      <div class="card-body">
        <div>
          <a href="#"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modal"
            onclick="handleModal(true)">
            Crear Inventario
          </a>
        </div>
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Observaciones</th>
              <th>Fecha Ingreso</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}

{% block modal %}
  <input type="hidden" name="id" id="id" />
  <div class="form-outline mb-3">
    <label class="form-label" for="producto">Producto</label>
    <select id="producto"
      name="producto"
      class="form-select form-select-lg"></select>
    <span id="producto-helper" class="input-helper"></span>
  </div>
  <div class="form-outline mb-3">
    <label class="form-label" for="cantidad">Cantidad</label>
    <input type="number"
      id="cantidad"
      name="cantidad"
      class="form-control form-control-lg" />
    <span id="cantidad-helper" class="input-helper"></span>
  </div>
  <div class="form-outline mb-3">
    <label class="form-label" for="observaciones">
      Observaciones (Opcional)
    </label>
    <textarea id="observaciones"
      name="observaciones"
      class="form-control form-control-lg"
      rows="3"></textarea>
    <span id="observaciones-helper" class="input-helper"></span>
  </div>
  <div class="form-outline mb-3">
    <label class="form-label" for="fecha_ingreso">Fecha Ingreso</label>
    <input type="date"
      id="fecha_ingreso"
      name="fecha_ingreso"
      class="form-control form-control-lg" />
    <span id="fecha_ingreso-helper" class="input-helper"></span>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'libs/BVSelect/bvselect.js' %}"></script>
  <script>
    let productos = {};
    const productosSelect = new BVSelect({
      selector: "#producto",
      width: "100%",
      searchbox: true,
      offset: true,
      placeholder: "Selecciona un producto",
      search_placeholder: "Buscar...",
      search_autofocus: true,
      breakpoint: 450,
    });

    async function loadData() {
      const data = await fetchData("inventario/");
      const tbody = document.querySelector("tbody");
      tbody.innerHTML = "";
      for (const object of data) {
        const row = document.createElement("tr");
        insertData(row, object.id);
        insertData(row, productos[object.producto]);
        insertData(row, object.cantidad);
        insertData(row, object.observaciones);
        insertData(row, object.fecha_ingreso);
        row.appendChild(actionButtons(object.id));
        tbody.appendChild(row);
      }
    }

    async function loadProductos() {
      const data = await fetchData("productos/");
      const select = document.querySelector("#producto");
      select.innerHTML = "";
      if (data.length == 0) {
        const option = document.createElement("option");
        option.value = 0;
        option.innerHTML = "No hay productos";
        select.appendChild(option);
      }
      for (const object of data) {
        const option = document.createElement("option");
        option.value = object.id;
        option.innerHTML = `${object.nombre} - ${object.precio}$`;
        select.appendChild(option);
        productos[object.id] = object.nombre;
      }
      productosSelect.Update();
    }

    function actionButtons(id) {
      const editButton = document.createElement("button");
      editButton.innerHTML = "Editar";
      editButton.classList.add("btn", "btn-primary");
      editButton.setAttribute("type", "button");
      editButton.setAttribute("data-bs-toggle", "modal");
      editButton.setAttribute("data-bs-target", "#modal");
      editButton.onclick = () => handleModal(false, id);
      const deleteButton = document.createElement("button");
      deleteButton.innerHTML = "Eliminar";
      deleteButton.classList.add("btn", "btn-danger");
      deleteButton.setAttribute("type", "button");
      deleteButton.setAttribute("onclick", `deleteData(${id})`);
      const buttons = document.createElement("td");
      buttons.appendChild(editButton);
      buttons.appendChild(deleteButton);
      return buttons;
    }

    /**
     *  @param {HTMLTableRowElement} row
     * @param {string} value
     */
    function insertData(row, value) {
      const cell = document.createElement("td");
      cell.innerHTML = value;
      row.appendChild(cell);
    }

    /** @param {boolean} isNew
     * @param {string} id
     */
    async function handleModal(isNew, id = null) {
      resetMessages();
      document.querySelector("#form-guardar").reset();
      document.getElementById("id").value = id;
      const tituloElement = document.querySelector(".modal-title");
      if (isNew) {
        tituloElement.innerHTML = "Crear inventario";
      } else {
        tituloElement.innerHTML = "Editar inventario";
        const data = await fetchData(`inventario/${id}/`);
        document.querySelector("#id").value = data.id;
        document.querySelector("#producto").value = data.producto;
        document.querySelector("#cantidad").value = data.cantidad;
        document.querySelector("#observaciones").value = data.observaciones;
        document.querySelector("#fecha_ingreso").value = data.fecha_ingreso;
        productosSelect.SetOption({
          type: "byValue",
          value: data.producto,
        });
      }
    }

    async function saveData() {
      resetMessages();
      const form = document.querySelector("#form-guardar");
      const data = new FormData(form);
      const json = Object.fromEntries(data.entries());
      let response;
      console.log(json);
      if (json.id) {
        response = await fetchData(`inventario/${json.id}/`, "PUT", json);
      } else {
        response = await fetchData("inventario/", "POST", json);
      }

      if (response.id) {
        document.querySelector(".msg").innerHTML =
          "Inventario guardado correctamente";
        closeModal();
        loadData();
        setTimeout(() => {
          resetMessages();
        }, 3000);
        return;
      }
    }

    /** @param {string} id */
    async function deleteData(id) {
      if (confirm("¿Está seguro de eliminar este Inventario?")) {
        const data = await fetchData(`inventario/${id}/`, "DELETE");
        if (data.ok) {
          document.querySelector(".msg").innerHTML =
            "Inventario eliminado correctamente";
          setTimeout(() => {
            resetMessages();
          }, 3000);
          loadData();
        }
      }
    }
    document.addEventListener("DOMContentLoaded", async function () {
      await loadProductos();
      await loadData();
    });
  </script>
{% endblock %}
