{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'libs/BVSelect/bvselect.css' %}" />
{% endblock %}
{% block content %}
  <section class="section">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Productos</h5>
      </div>

      <div class="card-body">
        <div>
          <a href="#"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modal"
            onclick="handleModal(true)">
            Crear Producto
          </a>
        </div>
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}

{% block modal %}
  <input type="hidden" name="id" id="id" />
  <div class="form-outline mb-4">
    <label class="form-label" for="nombre">Nombre</label>
    <input type="text"
      id="nombre"
      name="nombre"
      class="form-control form-control-lg" />
    <span id="nombre-helper" class="input-helper"></span>
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="descripcion">Descripción</label>
    <textarea id="descripcion"
      name="descripcion"
      class="form-control form-control-lg"
      rows="3"></textarea>
    <span id="descripcion-helper" class="input-helper"></span>
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="precio">Precio</label>
    <input type="number"
      id="precio"
      name="precio"
      class="form-control form-control-lg" />
    <span id="precio-helper" class="input-helper"></span>
  </div>
  <div class="form-outline mb-3">
    <label class="form-label" for="categoria">Categoria</label>
    <select id="categoria"
      name="categoria"
      class="form-select form-select-lg"></select>
    <span id="categoria-helper" class="input-helper"></span>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'libs/BVSelect/bvselect.js' %}"></script>
  <script>
    let categorias = {};
    const categoriasSelect = new BVSelect({
      selector: "#categoria",
      width: "100%",
      searchbox: true,
      offset: true,
      placeholder: "Selecciona una categoria",
      search_placeholder: "Buscar...",
      search_autofocus: true,
      breakpoint: 450,
    });

    async function loadData() {
      const data = await fetchData("productos/");
      const tbody = document.querySelector("tbody");
      tbody.innerHTML = "";
      for (const object of data) {
        const row = document.createElement("tr");
        insertData(row, object.id);
        insertData(row, object.nombre);
        insertData(row, object.descripcion);
        insertData(row, object.precio);
        insertData(row, categorias[object.categoria]);
        row.appendChild(actionButtons(object.id));
        tbody.appendChild(row);
      }
    }

    async function loadCategorias() {
      const data = await fetchData("productos/categorias/");
      const select = document.querySelector("#categoria");
      select.innerHTML = "";
      if (data.length == 0) {
        const option = document.createElement("option");
        option.value = 0;
        option.innerHTML = "No hay categorias";
        select.appendChild(option);
      }
      for (const object of data) {
        const option = document.createElement("option");
        option.value = object.id;
        option.innerHTML = object.nombre;
        select.appendChild(option);
        categorias[object.id] = object.nombre;
      }
      categoriasSelect.Update();
    }

    function actionButtons(id) {
      const editButton = document.createElement("button");
      editButton.innerHTML = "Editar";
      editButton.classList.add("btn", "btn-primary");
      editButton.setAttribute("type", "button");
      editButton.setAttribute("data-bs-toggle", "modal");
      editButton.setAttribute("data-bs-target", "#modal");
      editButton.onclick = () => handleModal(false, id);
      const deleteButton = document.createElement("button");
      deleteButton.innerHTML = "Eliminar";
      deleteButton.classList.add("btn", "btn-danger");
      deleteButton.setAttribute("type", "button");
      deleteButton.setAttribute("onclick", `deleteData(${id})`);
      const buttons = document.createElement("td");
      buttons.appendChild(editButton);
      buttons.appendChild(deleteButton);
      return buttons;
    }

    /**
     *  @param {HTMLTableRowElement} row
     * @param {string} value
     */
    function insertData(row, value) {
      const cell = document.createElement("td");
      cell.innerHTML = value;
      row.appendChild(cell);
    }

    /** @param {boolean} isNew
     * @param {string} id
     */
    async function handleModal(isNew, id = null) {
      resetMessages();
      document.querySelector("#form-guardar").reset();
      document.getElementById("id").value = id;
      const tituloElement = document.querySelector(".modal-title");
      if (isNew) {
        tituloElement.innerHTML = "Crear producto";
      } else {
        tituloElement.innerHTML = "Editar producto";
        const data = await fetchData(`productos/${id}/`);
        document.querySelector("#id").value = data.id;
        document.querySelector("#nombre").value = data.nombre;
        document.querySelector("#descripcion").value = data.descripcion;
        document.querySelector("#precio").value = data.precio;
        document.querySelector("#categoria").value = data.categoria;
        categoriasSelect.SetOption({
          type: "byValue",
          value: data.categoria,
        });
      }
    }

    async function saveData() {
      resetMessages();
      const form = document.querySelector("#form-guardar");
      const data = new FormData(form);
      const json = Object.fromEntries(data.entries());
      let response;
      console.log(json);
      if (json.id) {
        response = await fetchData(`productos/${json.id}/`, "PUT", json);
      } else {
        response = await fetchData("productos/", "POST", json);
      }

      if (response.id) {
        document.querySelector(".msg").innerHTML =
          "Producto guardado correctamente";
        closeModal();
        loadData();
        setTimeout(() => {
          resetMessages();
        }, 3000);
        return;
      }
    }

    /** @param {string} id */
    async function deleteData(id) {
      if (confirm("¿Está seguro de eliminar este Producto?")) {
        const data = await fetchData(`productos/${id}/`, "DELETE");
        if (data.ok) {
          document.querySelector(".msg").innerHTML =
            "Producto eliminado correctamente";
          setTimeout(() => {
            resetMessages();
          }, 3000);
          loadData();
        }
      }
    }
    document.addEventListener("DOMContentLoaded", async function () {
      await loadCategorias();
      await loadData();
    });
  </script>
{% endblock %}
